<%= form_with model: blog_post do |form| %>
    <% if form.object.errors.any? %>
        <div>
            <% form.object.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>
    <div class="flex flex-col">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="flex flex-col">
        <%= form.label :body %>
        <%= form.text_area :body %>
    </div>

    <div class="flex flex-col">
        <%= form.label :published_at %>
        <div>
            <%= form.datetime_select :published_at, include_blank: true %>
        </div>
    </div>

    <%= form.button class: "bg-gray-100 px-4 my-2 py-2 rounded hover:bg-gray-400" %>
<% end %>