<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose mx-auto">
    

    
    

    <div class="bg-slate-500 rounded px-4 py-8 mb-2 justify-between items-center flex">
      <h1 class="flex m-0 items-center "><%= button_to "My Blog", root_path, method: :get %></h1>
      <% if user_signed_in? %>
      <%# <%= link_to "Profile", edit_user_registration_path %> 
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "bg-gray-100 m-0 px-4 py-2 rounded hover:bg-gray-400" %>
    <% else %>
      <%= button_to "Log in", new_user_session_path, method: :get, class: "bg-gray-100 m-0 px-4 py-2 rounded hover:bg-gray-400" %>
      <%# <%= link_to "Sign up", new_user_registration_path %> 
    <% end %>
    </div>

    <% if notice %>
      <div class="rounded bg-green-300 my-1 px-4 py-1">
        <p class="notice m-0"><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="rounded bg-red-300 my-1 px-4 py-1">
      <p class="alert m-0"><%= alert %></p>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
